/* -------------------------------- */
/* UTILITY */

.wid-80 {margin: auto; width: 80%;}
.wid-60 {margin: auto; width: 60%;}
.wid-50 {margin: auto; width: 50%;}


.flex {display: flex;}
.flex-between {display: flex; justify-content: space-between;}
.flex-align {display: flex; align-items: center;}
.flex-bas-2 { flex-basis: 50%;}

.mrg-lft-20 { margin-left: 20px;}
.mrg-rgt-20 { margin-right: 20px;}
.mrg-lft-10 {margin-left: 10px;}
.mrg-rgt-10 {margin-right: 10px;}
.mrg-10 { margin-bottom: 10px;}
.mrg-bttm-40 {margin-bottom: 40px;}
.mrg-top-40 {margin-top: 40px;}

body {
    font-family: sans-serif;
}

i {
    color: white;
    margin-left: 10px;
}

a {
    outline: none;
    text-decoration: none;
    color: rgb(84, 84, 84);
    font-family: sans-serif;
    /* font-weight: bold; */
    /* margin-right: 8px; */
}

.button1 {
    padding: 8px 18px;
    background-color: #0160ff;
    color: white;
}

.generic-text {
    font-size: 20px;
}

/* -------------------------------- */
/* HEADER */


/* HEADER *//*NAVBAR*/

nav {
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 15px;
}

#nav-bar-left {
    justify-content: space-around;
    
}

#nav-bar-right {
    justify-content: space-around;
}


/* HEADER *//*SECTION*/

header > section {
    background-color: #b5d1e7;    
}

h1 {
    padding: 50px 0px;
    font-size: 77px;
    /* white-space: wrap; */
    font-family: 'Rubik', sans-serif;
}

#content-header {
    max-height: 380px;
}

#txt-buttn {
    position: relative;
}

#txt2-head {
    margin-top: 40px;
}

#jumbo {
    width: 800px;
}

#arrw-dwn {
    font-size: 44px;
    color: black;
    position: absolute;
    bottom: 10px;
}


/* -------------------------------- */
/* MAIN */

main {
    margin-top: 160px;
}

h2 {
    padding: 50px 0px;
    font-size: 37px;
    /* white-space: wrap; */
    font-family: 'Rubik', sans-serif;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
  }

input[type="radio"] {
    appearance: none;
    background-color: rgb(253, 253, 253);
    font: inherit;
    color: rgb(171, 171, 171);
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid rgb(194, 194, 194);
    border-radius: 50%;
    transform: translateY(0.35em);
}

/* When the radio button is checked, add a blue background */
input:checked {
    background-color: #ffffff;
    border: 0.35em solid rgb(79, 91, 255);
}

form > label {
    margin-right: 30px;
}


.card {
    width: 30%;
    min-height: 1000px; /*temp*/
    border: solid lightgray;
}





/* -------------------------------- */
/* FOOTER */

