/* -------------------------------- */
/* UTILITY */

.wid-80 {
    margin: auto;
    width: 60%;
}

.flex {display: flex;}
.flex-between {display: flex; justify-content: space-between;}
.flex-align {display: flex; align-items: center;}


.mrg-lft-20 { margin-left: 20px;}
.mrg-rgt-20 { margin-right: 20px;}
.mrg-lft-10 {margin-left: 10px;}
.mrg-rgt-10 {margin-right: 10px;}
.mrg-10 { margin-bottom: 10px;}


body {
    font-family: sans-serif;
}

i {
    color: white;
    margin-left: 10px;
}

a {
    outline: none;
    text-decoration: none;
    color: rgb(84, 84, 84);
    font-family: sans-serif;
    /* font-weight: bold; */
    /* margin-right: 8px; */
}

/* -------------------------------- */
/* HEADER */


/* HEADER *//*NAVBAR*/

nav {
    background-color: lightgoldenrodyellow;
    align-items: center;
    padding: 15px;
}

#nav-bar-left {
    justify-content: space-around;
    
}

#nav-bar-right {
    justify-content: space-around;
}

#inizia {
    padding: 8px 18px;
    background-color: #0160ff;
    color: white;
}



/* -------------------------------- */
/* MAIN */





/* -------------------------------- */
/* FOOTER */

